<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["Web.styles.css"]" />
    <link rel="stylesheet" href="@Assets["bootstrap.css"]">
    <ImportMap />
    <HeadOutlet />
</head>

<body style="min-height: 100dvh; width: 100dvw">
    <Routes />
    <script src="@Assets["bootstrap.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
